<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Lexical Analyzer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="https://github.com/alu0100697032/lexical_analyzer" target="_blank">Github</a>
                </li>
                <li><a href="/tests">Tests</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li class="dropdown-header">Old tools</li>
                        <li class="divider"></li>
                        <li><a href="http://chaijs.com/" target="_blank">Chai</a>
                        </li>
                        <li><a href="http://mochajs.org/" target="_blank">Mocha</a>
                        </li>
                        <li><a href="http://karma-runner.github.io/0.12/index.html" target="_blank">Karma</a>
                        </li>
                        <li><a href="http://blanketjs.org/" target="_blank">Blanket</a>
                        </li>
                        <li><a href="https://travis-ci.org" target="_blank">Travis</a>
                        </li>
                        <li><a href="http://getbootstrap.com" target="_blank">BootStrap</a>
                        </li>
                        <li><a href="http://www.w3schools.com/html/html5_webstorage.asp" target="_blank">LocalStorage</a>
                        </li>
                        <li><a href="http://underscorejs.org/" target="_blank">Underscore</a>
                        </li>
                        <li><a href="http://www.w3schools.com/jquery/default.asp" target="_blank">jQuery-Tutorial</a>
                        </li>
                        <li><a href="http://jquery.com/" target="_blank">jQuery</a>
                        </li>
                        <li><a href="https://www.heroku.com/" target="_blank">Heroku</a>
                        </li>
                        <li><a href="http://es.wikipedia.org/wiki/AJAX" target="_blank"> Ajax (wikipedia)</a>
                        </li>
                        <li><a href="http://www.w3schools.com/ajax/" target="_blank"> Ajax (tutorial)</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">New tools</li>
                        <li class="divider"></li>
                        <li><a href="http://www.sinatrarb.com/">Sinatra</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Developers <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li class="dropdown-header">User page</li>
                        <li class="divider"></li>
                        <li><a href="http://alu0100837353.github.io/" target="_blank">David Rodríguez González de Chaves</a>
                        </li>
                        <li><a href="http://alu0100697032.github.io/" target="_blank">Víctor Hernández Pérez</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <h3>Write javascript code and click "Analyze"</h3>
    <textarea id="INPUT">
        var a = "hello"; // initialize a var b = function(x) { var c = 3; return x+c; };
    </textarea>
    <br>
    <input id="PARSE" value=parse type=button class="mylink">
    <pre id=OUTPUT></pre>
</div>